.App {
  text-align: center;
}
.country {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgb(0, 17, 255);
  background: url("https://www.freeworldmaps.net/download/maps/world-continents-map.jpg")
    no-repeat center/cover;
}
.tableHeader {
  font-size: 55%;
}
.homeIcon {
  width: 3em;
  border-radius: 50%;
}
.moon {
  margin-top: 0;
  width: 2em;
  border-radius: 50%;
}
.moon:hover {
  cursor: pointer;
}
.customize_moon {
  width: 20vw;
  display: flex;
}
.flagIcon {
  width: 3em;
  cursor: pointer;
}
.HeaderSection {
  width: 100vw;
  height: 45vh;
  background-image: url("./images/world.png");
  display: block;
}
.header_info {
  justify-content: center;
  align-items: center;
  margin: auto;
  color: rebeccapurple;
}
.searchField {
  align-self: flex-end;
}
.details {
  width: 300px;
  height: 300px;
  color: rgb(35, 6, 204);
  align-items: center;
  margin: 0 auto;
}
.countryImage {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(7, 4, 168);
  margin: 1em auto;
}
.back {
  color: rgb(19, 19, 207);
  font-size: 2em;
  text-shadow: 1em;
  align-self: flex-end;
  text-decoration: none;
}
.back:hover {
  font-size: 3em;
  color: blueviolet;
}
.headerRow {
  font-size: 2em;
}
.navbar {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headbar {
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 5%;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cartImage {
  cursor: pointer;
}
.theme:hover {
  cursor: pointer;
  text: "click to change theme";
}
.cartPage {
  background: aliceblue;
}
.btn {
  text-align: center;
  padding: 5px;
  box-shadow: 1em;
  background-color: cornflowerblue;
}
.btn:hover {
  background-color: aquamarine;
  color: green;
}
.cartHeadings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: aqua;
}
.cartBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: beige;
}
.cartFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: rgb(107, 145, 202);
}
.cartValue {
  color: crimson;
  font-size: 2.3em;
}
select1 {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  width: 20%;
  height: 4%;
  font-size: 1rem;
  padding: 0.5em 1em 1em 0.5em;
  background: #566adb;
  color: rgba(49, 57, 131, 0.5);
  border: 0;
}
.homePage {
  border: 2px solid blue;
  margin-right: 5%;
  margin-left: 5%;
}
