.App {
  text-align: center;
  background-color: gray;
}
.country {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgb(0, 17, 255);
  background: url("https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1544&q=80")
    no-repeat center/cover;
}
.homeIcon {
  width: 3em;
  border-radius: 50%;
}
.moon {
  width: 1em;
  border-radius: 50%;
}
.moon:hover {
  cursor: pointer;
}
.flagIcon {
  width: 3em;
  cursor: pointer;
}
.HeaderSection {
  width: 100vw;
  height: 45vh;
  background-image: url("./images/world.png");
  display: flex;
}
.header_info {
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 2em;
  color: rebeccapurple;
}
.details {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(7, 4, 168, 0.2);
  color: rgb(245, 245, 248);
  align-items: center;
  margin: 0 auto;
}
.countryImage {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(7, 4, 168);
  margin: 1em auto;
}
.back {
  color: rgb(242, 242, 247);
  font-size: 2em;
  text-shadow: 1em;
  align-self: flex-end;
  text-decoration: none;
}
.back:hover {
  font-size: 3em;
  color: blueviolet;
}
.headerRow {
  font-size: 2em;
}
.navbar {
  height: 8vh;
  width: 100vw;
  background-color: rgba(91, 122, 209, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cartImage {
  height: 7vh;
  width: 5vw;
  border-radius: 1em;
  background: url("./images/cart.png") no-repeat center/cover;
}
.theme:hover {
  cursor: pointer;
  text: "click to change theme";
}
.cartPage {
  background: aliceblue;
}
.btn {
  text-align: center;
  padding: 5px;
  box-shadow: 1em;
  background-color: cornflowerblue;
}
.btn:hover {
  background-color: aquamarine;
  color: green;
}
.cartHeadings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: aqua;
}
.cartBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: beige;
}
.cartFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: rgb(107, 145, 202);
}
.cartValue {
  color: crimson;
  font-size: 2.3em;
}
select {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  width: 20%;
  height: 4%;
  font-size: 1rem;
  padding: 0.5em 1em 1em 0.5em;
  background: #566adb;
  color: rgba(49, 57, 131, 0.5);
  border: 0;
}
